.movie-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #f8f8f8;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
}


.movie-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  object-fit: contain;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

.movie-card h3 {
  margin: 10px 0 5px;
  font-size: 0.9em;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.movie-card p {
  font-size: 0.8em;
  padding: 0 10px 10px;
  color: #666;
  margin: 0;
}

@media (max-width: 640px) {
  .movie-card {
    width: 120px;
  }
}